.form-label {
    display: inline-block;
    width: 100px;
    text-align: right;
}

.form-input {
    display: inline-block;
    width: 200px;
    margin: 10px left;
}
.submit-button {
    display: inline-block;
    margin: 10px auto;
    width: 310px;
}