body {
    background-image: linear-gradient(to right, black 0%, black 35%, #124559 50%, #5798af 100%); 
    font-family: "Inter";
}
#one{
    color: black;
    position: absolute;
    top:90%;
    left:20%;
}
#two{
    color: black;
    position: absolute;
    top:90%;
    left:70%;
}

#title {
    text-align: center;
    font-size: 50px;
}

.signup{
    /* width:30%; */
    /* height:80%; */
    background-color: white;
    height: 100px;

}

#q {
    color: black;
}

/* h1, h2, h3, h4, h5, h6, p, a, label {
     */
h1 {
    color: white;
}

input {
    background-color: rgb(201, 190, 190);
    color: white;
    margin-bottom: 10px;
    width: 100%;
    align-self: center;
    text-align: center;
    align-content: center;
}