<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <h1>Teacher Login</h1>
    <style>
        .form-label {
            display: inline-block;
            width: 100px;
            text-align: right;
        }

        .form-input {
            display: inline-block;
            width: 200px;
        }
        .submit-button {
            display: inline-block;
            margin: 10px auto;
            width: 310px;
        }
    </style>

    <form action="/logincomplete/teach" method="post">
        <label for="email-username" class="form-label">Username</label>
        <input type="text" name="username" id="email-username" class="form-input">
        <br>
        <label for="password" class="form-label">Password</label>
        <input type="password" name="password" id="pw" class="form-input">
        <br>
        <label for="school" class="form-label">School</label>
        <input type="text" name="school" id="school" class="form-input">
        <br>
        <input type="submit" value="Submit" class="submit-button">
    </form>
</body>
</html>