<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="css/signup.css">
</head>
<body>
    <h1>Log In</h1>
    <h2>Are you a student or a teacher?</h2>
    <div>
        <button id="stud" onclick="location.href='/login/student'">Student</button>
        <button id="teach" onclick="location.href='/login/teacher'">Teacher</button>
    </div>
    <div>
        <button id="back" onclick="location.href='/home'">Back</button>
    </div>

    <script src="js/signup.js"></script>
</body>
</html>