<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <h1>Teacher</h1>
    <form action="/signupcomplete/teach" method="post">
        <label for="email">Email</label>
        <input type="email" name="email" id="email">

        <label for="username">Username</label>
        <input type="text" name="username" id="username">
        
        <label for="first">First Name</label>
        <input type="text" name="first" id="first">

        <label for="last">Last Name</label>
        <input type="text" name="last" id="last">

        <label for="password">Password</label>
        <input type="password" name="password" id="pw">

        <input type="submit" value="Submit">
    </form>
</body>
</html>