<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="css/signup.css">
</head>
<body>
    <div id="container">
        <h1>Sign Up</h1>
        <p>Are you a student or a teacher?</p>
    </div>
    <div class="signup">
        <button id="stud" onclick="location.href='/signup/student'">Student</button>
        <button id="teach" onclick="location.href='/signup/teacher'">Teacher</button>
    </div>
</body>
</html>